<html>
    <head>
        <title>Index Page</title>
    </head>
    <body>
        <h1><%= title %></h1>
        <ul>
            <% for(let i = 0; i < messages.length; i += 1) { %>
                <li>
                    <div>
                        <p> text: <%=  messages[i].msg %></p>
                        <p> user: <%= messages[i].name %></p>
                        <p> date: <%= messages[i].dateadded %></p>
                        <div><a href="<%= i + 1 %>">Open</a></div>
                    </div>
                </li>
            <% } %>
        </ul>
        <div><a href="/new">New Message</a></div>
    </body>
</html>